#Title {
  background-image: linear-gradient(to left top, #d16ba5, #c46cb3, #b26fbf, #9c73ca, #8078d3, #6582db, #448bdf, #0093e0, #00a0dd, #00abd3, #00b5c3, #08bcb1);
  height: 200%;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10%;
}

.title-img {
  margin-top: 80px;
  height: 300px;
  width: 300px;
}

.title-h3 {
font-family: 'Ubuntu Mono', monospace;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

.navbar {
  text-align: justify;
  font-weight: bold;
}

.title-p {
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 20px;
}

.img-top1 {
  margin-top: 50px;
  height: 200px;
  width: 70%;
}

.top-container {}

.top-button {
  width: 100%;
}

.#container-fluid {
  display: inline;
}

.about-img {
  height: 90%;
  width: 100%;
}

#section2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-me {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  font-weight: bolder;
  font-family: 'Ubuntu', sans-serif;
}

.about-me-text {

  font-size: 20px;
}

.dob {
  font-style: normal;
  font-size: 15px;
  padding-top: 20px;
}

.cv-download {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.btcv {
  margin-right: 40px;
}

.about-giphy {
  height: 80px;
  width: 80px;
  float: left;
}

.img-column {
  margin-bottom: 0px;
}

.top-buttons {
  padding-left: 20px;
}

.title-packages-div {
  padding-left: 0px;
  padding-right: 0px;
}

.emoji {
  text-align: center;
}

.dob-and-others {
  font-weight: bold;

  margin-bottom: 0px;
  text-align: justify;
}



.dob-and-others-colored{
margin-top: 50px;
border-style: outset;
}

.col-of-top-content{
  padding-right: 0px;
  padding-left: 0px;
}




#section3{
  padding-top: 50px;
  padding-bottom: 50px;

}

.card-img-top{
  height: 100px;
  width: 100px;
  align-self: center;
}


.my-skills-title{

}


.my-skills-div{
  margin-top: 20px;
  margin-bottom: 20px;
}



#testimonials{

  background-image: linear-gradient(to left top, #d16ba5, #c46cb3, #b26fbf, #9c73ca, #8078d3, #6582db, #448bdf, #0093e0, #00a0dd, #00abd3, #00b5c3, #08bcb1);
  height: 200%;
  padding-top: 80px;
  text-align: center;
  padding-bottom: 80px;
  color:white;
}

.testimonial-img{
  border-radius: 100%;
  margin: 20px;
}

.testimonials-heading{
  margin-bottom: 50px;
}

.skills-em{
  font-weight: bold;
  font-size: 15px;
  margin-top: 50px;
}


 .services-row-div{

 }
.testimonial-p{
  font-size: 25px;
  font-style: italic;

}

.portfolio-pics{
  width:100%;
  height: 100%;
}

#portfolio{
}

.portfolio-fluid{
  padding-left: 0px;
  padding-right: 0px;
  width: none;

  margin-top: 50px;
  margin-bottom: 50px;
}

.portfolio-div{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: none;
}


.text-muted{
  border: 0px;
  background-color: white;
}

.card-header{
  border: 0px;
  background-color: white;
  padding-top: 0px;
  padding-bottom: 0px;
}

.portfolio-each-div{
  border: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color:#FEFEFE;
}


.contact-buttons{
  margin-top: 50px;
  margin-bottom: 50px;
}

#contact{
  text-align: center;
}

.contact-me-div{
  margin-top: 100px;
  margin-bottom: 100px;
}


#footer{
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: linear-gradient(to left top, #d16ba5, #c46cb3, #b26fbf, #9c73ca, #8078d3, #6582db, #448bdf, #0093e0, #00a0dd, #00abd3, #00b5c3, #08bcb1);

  text-align: center;

  color:white;
}
